@font-face
    font-family: 'Lato'
#main
    background-color: #fff 

#header
    padding-top: 69px
    .inner_header
        display: flex
        align-items: center
        justify-content: space-between

        .logo
            display: block
            width: 94px
            height: 94px
            >img
                width: 100%

        .mnu_top
            list-style-type: none
            >li
                display: inline-block
                position: relative
                a
                    display: block
                    padding: 5px 40px 5px 0px
                    text-decoration: none
                    font-weight: 500
                    color: #000
                    transition: color .4s ease
                    &:hover
                        color: #22BAC8

#footer
        margin: 0
        padding: 0
        height: 100%
        display: flex
        white-space: nowrap
        flex-direction: column
        align-items: center
        margin-left: 50px
        transition: all 0.4s ease
        padding-bottom: 10px
        &:hover
            transform: translateY(-8px)
        .credentials
            display: inline
            align: left
            float: left
        .defrell
            display: inline
            text-decoration: none
            float: left
            color: #000
            font-size: 20px
            font-weight: normal
            margin-left: 10px
            line-height: 18px
.main_banner
    padding: 40px
    .info
        display: block
        align-items: center
        justify-content: space-between
        .heading
            display: block
            font-size: 64px
            font-weight: 700
            max-width: 685px
            max-height: 138px
            margin-bottom: 150px
            >.colored
                color:   #22BAC8                
        .info_text
            font-size: 24px
            font-weight: normal
            margin-bottom: 20px
            max-width: 550px
        .black_btn 
            color: #fff
            background-color: #000
            font-weight: 600
            margin-right: 80px
            transition: all 0.4s ease
            text-decoration: none
            height: 76px
            width: 230px
            border-radius: 20px
            box-shadow: 1px
            &:hover
                background-color: #22BAC8
                color: #000
                border-radius: 25px
                transform: translateY(-8px)
        .blue_btn 
            color: #fff
            background-color: #22BAC8
            font-weight: 600
            transition: all 0.4s ease
            text-decoration: none
            height: 76px
            width: 230px
            border-radius: 20px
            border-color: #22BAC8
            box-shadow: 1px
            &:hover
                background-color: #fff
                color: #000
                transform: translateY(-8px)
            
